services:
  - type: web
    name: story-app-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install && npm run build --workspace=backend
    startCommand: npm run start --workspace=backend
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_REFRESH_SECRET
        generateValue: true
      - key: FRONTEND_URL
        sync: false
